doctype html
html(lang="en")
    head
        block head
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='description', content='Some description')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            style.
                body {
                    padding: 50px;
                    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
                }

                a {
                    color: #00B7FF;
                }
    body
        block content
